/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Home Page Styles */
.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.app-title {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.app-title h1 {
  margin: 0;
}

/* Navbar Styles */
.navbar {
  width: 100%;
  background-color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .welcome-section {
  color: white;
}

.navbar .welcome-section button {
  padding: 5px 10px;
  background-color: #f00;
  border: none;
  color: white;
  cursor: pointer;
}

/* Body Styles */
.body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain; /* Change from cover to contain to make the image smaller */
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9; /* Slightly reduced opacity */
}

/* Footer Styles */
.footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .footer-content p {
  margin: 0;
}
